<div class="col s12">
	<div class="card">
		<div class="card-content">
			<span class="card-title grey-text text-darken-4 activator">{{post.title}}<i class="mdi-navigation-more-vert right waves-effect"></i></span>
			<p>{{post.body}}</p>
		</div>
		<div class="card-reveal">
			<span class="card-title grey-text text-darken-4">About {{post.userFullName}}</span>
			<p>{{post.aboutUser}}</p>
			<p>Email: {{post.newUser}}</p>
			<p>Born on: {{post.userDOB}}</p>
			<p>Gender: {{post.gender}}</p>
		</div>
	</div>
</div>