<h4>Welcome {{newUser}}{{user.userFullName}}!</h4>
{{#if message}}
    <br/>
	<h5>{{message}}</h5>
    <br/>
{{/if}}
<blockquote>Editing isn't supported yet, so to make changes, you have to delete the profile and re-enter data.</blockquote>
<blockquote>Any field is allowed to be left blank. They will be replaced with default values.</blockquote>
<h5>This is the information you entered:</h5>
<table>
    <tr>
        <td>Name:</td>
        <td>{{user.userFullName}}</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>{{user.newUser}}</td>
    </tr>
    <tr>
        <td>Gender:</td>
        <td>{{user.gender}}</td>
    </tr>
    <tr>
        <td>D.O.B.:</td>
        <td>{{user.userDOB}}</td>
    </tr>
    <tr>
        <td>About me:</td>
        <td>{{user.aboutUser}}</td>
    </tr>
</table>
<button class="btn waves-effect" {{action 'deleteUserData'}}>Delete saved profile <i class="mdi-action-delete right"></i></button>
{{yield}}
